<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="uc-tools-graphics-gpu-pipeline-compiler" version="1.0.35" targetFramework="net40" />
  <package id="uc-tools-graphics-gpu-shader-compiler" version="1.0.13" targetFramework="net40" />
  <package id="uc-tools-msbuild-tasks" version="1.0.36" targetFramework="net40" />
</packages>